{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign margin_bottom = block.settings.margin_bottom
  assign margin_top = block.settings.margin_top
  assign grid_span = block.settings.grid_span
  assign custom_css = block.settings.custom_css
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

<div data-product-block="vendor"
     class="{{ grid_span }} {{ custom_css }}" {{ block.shopify_attributes }}
     data-block-settings="{{- block.settings | json | escape -}}"
     style="margin-bottom: {{ margin_bottom }}px; margin-top: {{ margin_top }}px;">
  <a href="{{ routes.collections_url }}/vendors?q={{ product.vendor | url_escape }}"
     class="flex font-semibold text-sm hf:underline"
     title="{{ product.vendor }}">{{ product.vendor }}</a>
</div>
