{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign option_name = block.settings.option_name
  assign value_name = block.settings.value_name
  assign value_label = block.settings.value_label
  assign image = block.settings.image
  assign margin_bottom = block.settings.margin_bottom
  assign margin_top = block.settings.margin_top
  assign custom_css = block.settings.custom_css
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

<div data-product-block="variant_upsell"
     class="grid gap-2 col-span-12 {{ custom_css }}" {{ block.shopify_attributes }}
     data-block-settings="{{- block.settings | json | escape -}}"
     style="margin-bottom: {{ margin_bottom }}px; margin-top: {{ margin_top }}px;">
</div>
