{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign discount_target = section.settings.discount_target
  assign discount_type = section.settings.discount_type
  assign scrollable_title_1 = section.settings.scrollable_title_1
  assign target_products_1 = section.settings.target_products_1
  assign target_collection_1 = section.settings.target_collection_1
  assign scrollable_title_2 = section.settings.scrollable_title_2
  assign target_products_2 = section.settings.target_products_2
  assign target_collection_2 = section.settings.target_collection_2
  assign scrollable_title_3 = section.settings.scrollable_title_3
  assign target_products_3 = section.settings.target_products_3
  assign target_collection_3 = section.settings.target_collection_3
  assign container_overflow = section.settings.container_overflow
  assign target_limit = section.settings.target_limit
  assign preheading = section.settings.preheading
  assign preheading_font = section.settings.preheading_font
  assign title = section.settings.title
  assign title_font = section.settings.title_font
  assign subtitle = section.settings.subtitle
  assign subtitle_font = section.settings.subtitle_font
  assign content = section.settings.content
  assign align__horizontal = section.settings.align__horizontal
  assign responsive_visibility = section.settings.responsive_visibility
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign color_scheme = section.settings.color_scheme
  assign sectionID = section.settings.sectionID
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% liquid

  assign targetProductsHandles = '' | split: '' | uniq
  assign targetCollectionHandles = '' | split: '' | uniq


  for i in (1..3)
    assign target_products_key = "target_products_" | append: i
    assign target_products = section.settings[target_products_key]
    assign target_collection_key = "target_collection_" | append: i
    assign target_collection = section.settings[target_collection_key]
    assign collectionHandle = target_collection.handle | split: "--" | uniq
    assign targetCollectionHandles = targetCollectionHandles | concat: collectionHandle
    assign targetProducts = target_products | map: 'handle' | uniq
    assign targetProductsHandles = targetProductsHandles | concat: targetProducts | uniq
  endfor
%}


{%- capture sectionSettings -%}
  {
  "section_id": {{ section.id | json }},
  "discount_target": {{ discount_target | json }},
  "discount_type": {{ discount_type | json }},
  "target_collections": {{ targetCollectionHandles | uniq | compact | json }},
  "target_products": {{ targetProductsHandles | json }},
  "blocks": [
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'free_shipping' -%}
        {% render 'bundle.free_shipping', block: block %}
      {%- when 'discount_level' -%}
        {% render 'bundle.discount_level', block: block %}
    {%- endcase -%}
    {%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
  ]
  }
{%- endcapture %}

<style>
  #shopify-section-{{ section.id }}.shopify-section {
    z-index: 43;
  }
</style>

<div id="{{ sectionID }}"
     class="bundle {{ color_scheme }} {{ padding_top }} {{ padding_bottom }} {{ responsive_visibility }}"
     data-bundle-section="{{ sectionSettings | strip_newlines | escape }}">
  {% render 'bundle.header' %}
  <section class="pt-16 pb-12 container-bg-full bg-primary-bg text-primary-text sticky -top-8 z-[60] transition-all ease-linear min-h-[calc(var(--header-height,0px)+var(--announcement-height,0px)+var(--free-shipping-bar-height,0px)+34px)]"
           data-bundle-bar>
    <div class="grid md:grid-cols-[1fr_260px] gap-16 pt-1 relative max-md:gap-20 items-center">
      <div class="relative flex items-center justify-between gap-2">
        <div class="absolute top-1/2 left-0 h-1.5 w-full -translate-y-1/2 rounded-full 5 bg-theme-bg isolate">
          <div class="absolute left-0 h-full bg-theme-text/70"
               style="width: 0%">

          </div>
        </div>
        <div class="relative order-first h-12 w-6 rounded-full">
          <h4 class="absolute left-0 top-[calc(100%+0.5rem)] text-white md:whitespace-nowrap text-xs sm:text-sm sm:font-semibold">
            {{ "bundle.unlock" | t }}
          </h4>
        </div>

        {% for block in section.blocks %}
          {% assign blockSettings = block.settings %}

          {% liquid

            assign textClasses = 'left-1/2 -translate-x-1/2 text-center'
            comment
            if forloop.last
              assign textClasses = 'md:left-1/2 md:-translate-x-1/2 max-md:right-0 text-right md:text-center'
            endif
            endcomment
            assign blockTarget = blockSettings.target | default: blockSettings.fs_target
            case discount_target
              when 'quantity'
                assign target = blockTarget | append: "x"
              when 'amount'
                assign target = blockTarget | money_without_trailing_zeros
            endcase

            assign title = ""
            if blockSettings.fs_target
              assign title = 'Free Shipping'
            endif
            if blockSettings.target and discount_type == "specific_product"
              assign title = 'Discounted Product'
              if blockSettings.receives_discount == 100
                assign title = 'Free Product'
              endif
              if blockSettings.receives_quantity > 1
                assign title = title | append: 's'
              endif
            endif
            if blockSettings.target and discount_type == "product_percentage"
              assign title = blockSettings.receives_discount | append: "% Off each"
            endif
            if blockSettings.target and discount_type == "product_amount"
              assign title = blockSettings.receives_discount | money | append: " Off each"
            endif
          %}

          <div class="relative flex h-12 w-12 items-center justify-center rounded-full bg-theme-bg">
            <div class="whitespace-nowrap text-center text-sm font-semibold text-primary-bg">{{ target }}</div>
            <h4 class="absolute top-[calc(100%+0.5rem)] text-white md:whitespace-nowrap text-xs sm:text-sm sm:font-semibold {{ textClasses }}">{{ title }}</h4>
          </div>
        {% endfor %}
      </div>
      <form data-cart-checkout-form
            action="{{ routes.cart_url }}"
            method="post"
            class="grid w-full">
        <button
            type="submit"
            name="checkout"
            class="flex items-center justify-between whitespace-nowrap button-base bg-theme-bg text-primary-bg"
        >
          <span class="font-medium">Checkout</span>
          <span class="ml-3 flex items-center justify-center">
            {% if cart.total_discount > 0 %}
              <span class="line-through opacity-80 grayscale">{{ cart.total_price | plus: cart.total_discount | money }}</span>
              <span class="ml-2">{{ cart.total_price | money }}</span>
            {% else %}<span>{{ cart.total_price | money }}</span>{% endif %}
          </span>
        </button>
      </form>
    </div>
  </section>
  <section class="pt-8 pb-12 container-bg-full bg-primary-bg text-primary-text relative z-[59]"
           data-bundle-preview-items>
    <main class="grid grid-cols-2 gap-2 sm:grid-cols-3 max-md:sm:[&>div:empty:nth-last-child(-n+3)]:hidden md:grid-cols-6 md:gap-4 xl:gap-6 max-sm:[&>div:empty:nth-last-child(-n+4)]:hidden">
      <div class="relative pb-[100%] border-dashed border border-theme-bg/80"></div>
      <div class="relative pb-[100%] border-dashed border border-theme-bg/80"></div>
      <div class="relative pb-[100%] border-dashed border border-theme-bg/80"></div>
      <div class="relative pb-[100%] border-dashed border border-theme-bg/80"></div>
      <div class="relative pb-[100%] border-dashed border border-theme-bg/80"></div>
      <div class="relative pb-[100%] border-dashed border border-theme-bg/80"></div>
    </main>
    <footer class="mt-4 flex items-center justify-center text-center text-theme-bg">
      {{ "bundle.begin_adding" | t }}
    </footer>
  </section>
  {% render 'bundle.collections' %}
</div>

{% if discount_type == 'specific_product' %}
  {% liquid
    assign baseContentClasses = 'group-ac:opacity-100 ease-linear opacity-0 transition-all duration-150 z-10'
    assign closeButtonClasses = 'text-theme-text hf:text-theme-text/80'
    if image
      assign overlayClasses = 'text-theme-overlay-text'
      assign closeButtonClasses = 'text-theme-overlay-text hf:text-theme-overlay-text/80'
    endif
  %}

  <div class="group fixed pointer-events-none inset-0 z-[101] ac:pointer-events-auto hidden"
       data-drawer="bundle--{{ section.id }}">
    <section class="{{ baseContentClasses }} fixed bottom-0 inset-x-0"
             data-drawer-content
             data-bundle-drawer>

    </section>
    <div class="pointer-events-none fixed inset-0 bg-white/[0.72] opacity-0 transition-all group-ac:opacity-100 group-ac:pointer-events-auto"
         data-drawer-overlay
         data-cart-drawer-overlay>
    </div>
    <button type="button"
            class="group-ac:fixed hidden group-ac:flex top-4 right-4 h-6 w-6 items-center justify-center transition-all duration-75 text-theme-overlay-text hf:text-theme-overlay-text/80 sm:bg-transparent z-[101]"
            data-drawer-close="bundle--{{ section.id }}">
      <div class="sr-only">
        {{ "bundle.close" | t }}
      </div>
      {% render '_icon', icon: 'x-mark', class: "w-5 h-5 stroke-2" %}
    </button>
  </div>
{% endif %}

{% schema %}
{
  "name": "Bundle",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "radio",
      "id": "discount_target",
      "label": "Bundle Discounts Based on",
      "default": "quantity",
      "options": [
        {
          "value": "quantity",
          "label": "Quantity of items"
        },
        {
          "value": "amount",
          "label": "Purchase amount"
        }
      ]
    },
    {
      "type": "radio",
      "id": "discount_type",
      "label": "Discount_type",
      "default": "specific_product",
      "info": "Due to the way Shopify handles Discounts, its not possible to combine 'Buy X for Y' with `Amount/Percentage Off` discounts. Please ensure that no overlapping discounts are setup on your Admin dashboard to avoid problems. Read more here TODO: Add Link to Documentation",
      "options": [
        {
          "value": "specific_product",
          "label": "Get Specific Free/Discounted Product or Products"
        },
        {
          "value": "product_percentage",
          "label": "Percentage off of all added Products"
        },
        {
          "value": "product_amount",
          "label": "Amount off of all added Products"
        }
      ]
    },
    {
      "type": "header",
      "content": "Customer Buys From"
    },
    {
      "type": "header",
      "content": "Group 1"
    },
    {
      "type": "richtext",
      "id": "scrollable_title_1",
      "label": "Collection Title"
    },
    {
      "type": "product_list",
      "id": "target_products_1",
      "label": "Specific Products"
    },
    {
      "type": "collection",
      "id": "target_collection_1",
      "label": "Specific Collection"
    },
    {
      "type": "header",
      "content": "Group 2"
    },
    {
      "type": "richtext",
      "id": "scrollable_title_2",
      "label": "Collection Title"
    },
    {
      "type": "product_list",
      "id": "target_products_2",
      "label": "Specific Products"
    },
    {
      "type": "collection",
      "id": "target_collection_2",
      "label": "Specific Collection"
    },
    {
      "type": "header",
      "content": "Group 3"
    },
    {
      "type": "richtext",
      "id": "scrollable_title_3",
      "label": "Collection Title"
    },
    {
      "type": "product_list",
      "id": "target_products_3",
      "label": "Specific Products"
    },
    {
      "type": "collection",
      "id": "target_collection_3",
      "label": "Specific Collection"
    },
    {
      "type": "header",
      "content": "Product Display"
    },
    {
      "type": "checkbox",
      "id": "container_overflow",
      "label": "Fill fullscreen when scrolling"
    },
    {
      "type": "range",
      "id": "target_limit",
      "label": "Display Limit",
      "default": 12,
      "min": 6,
      "max": 36,
      "step": 1,
      "info": "Displaying a large number of products can affect the sites performance as more data is loaded"
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "richtext",
      "id": "preheading",
      "label": "Pre heading"
    },
    {
      "type": "range",
      "id": "preheading_font",
      "label": "Pre heading Font",
      "default": 1,
      "min": 1,
      "max": 3,
      "step": 1,
      "info": "Typography Groups 1 - 3"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "range",
      "id": "title_font",
      "label": "Title Font",
      "default": 1,
      "min": 1,
      "max": 3,
      "step": 1,
      "info": "Typography Groups 1 - 3"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "range",
      "id": "subtitle_font",
      "label": "Subtitle Font",
      "default": 1,
      "min": 1,
      "max": 3,
      "step": 1,
      "info": "Typography Groups 1 - 3"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Richtext"
    },
    {
      "type": "header",
      "content": "Content Layout"
    },
    {
      "type": "radio",
      "id": "align__horizontal",
      "label": "Horizontal Alignment",
      "default": "items-center text-center",
      "options": [
        {
          "value": "items-start text-left",
          "label": "Left"
        },
        {
          "value": "items-center text-center",
          "label": "Center"
        },
        {
          "value": "items-end text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "radio",
      "id": "responsive_visibility",
      "label": "Responsive Visibility",
      "default": "responsive",
      "options": [
        {
          "value": "responsive",
          "label": "Mobile & Desktop"
        },
        {
          "value": "md:hidden",
          "label": "Mobile only"
        },
        {
          "value": "max-md:hidden",
          "label": "Desktop only"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding_top",
      "default": "pt-0",
      "options": [
        {
          "value": "pt-0",
          "label": "None"
        },
        {
          "value": "pt-sm",
          "label": "Small"
        },
        {
          "value": "pt-md",
          "label": "Medium"
        },
        {
          "value": "pt-lg",
          "label": "Large"
        }
      ],
      "label": "Top Padding"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "default": "pb-0",
      "options": [
        {
          "value": "pb-0",
          "label": "None"
        },
        {
          "value": "pb-sm",
          "label": "Small"
        },
        {
          "value": "pb-md",
          "label": "Medium"
        },
        {
          "value": "pb-lg",
          "label": "Large"
        }
      ],
      "label": "Bottom Padding"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "default": "bg-theme-bg text-theme-text color-inherit",
      "options": [
        {
          "value": "bg-theme-bg text-theme-text color-inherit",
          "label": "Inherit from parent/theme"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-1",
          "label": "Color group 1"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-2",
          "label": "Color group 2"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-3",
          "label": "Color group 3"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-4",
          "label": "Color group 4"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-5",
          "label": "Color group 5"
        }
      ],
      "label": "Color scheme"
    },
    {
      "type": "text",
      "id": "sectionID",
      "label": "Section ID"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "name": "Free Shipping",
      "type": "free_shipping",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Nickname",
          "info": "[Setup New Discount](/admin/discounts/new?type=shipping)                  [View all](/admin/discounts)"
        },
        {
          "type": "paragraph",
          "content": "Free Shipping Discounts are based on All Products in an Order. You can however choose to display a range of products as an Upsell option."
        },
        {
          "type": "header",
          "content": "Minimum purchase requirements"
        },
        {
          "type": "number",
          "id": "fs_target",
          "label": "Target",
          "info": "Quantity as number - In Cents for `Purchase amount` calculation (i.e. $39,40 -> 3940)",
          "default": 9
        }
      ]
    },
    {
      "name": "Bundle Target",
      "type": "discount_level",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Nickname",
          "info": "[Setup New Discount](/admin/discounts/new?type=buyXgetY)                  [View all](/admin/discounts)"
        },
        {
          "type": "number",
          "id": "target",
          "label": "Target",
          "info": "Quantity as number - In Cents for `Purchase amount` calculation (i.e. $39,40 -> 3940)",
          "default": 3
        },
        {
          "type": "header",
          "content": "Discount"
        },
        {
          "type": "number",
          "id": "receives_discount",
          "label": "Receives discount",
          "info": "0 - 100 for Percentage Discounts / 100 = Free Product - In Cents for `Purchase amount` calculation (i.e. $39,40 -> 3940)",
          "default": 100
        },
        {
          "type": "header",
          "content": "Specific Free/Discounted Product Only"
        },
        {
          "type": "number",
          "id": "receives_quantity",
          "label": "Quantity",
          "default": 1
        },
        {
          "type": "product_list",
          "id": "receives_products",
          "label": "Specific Products"
        },
        {
          "type": "collection",
          "id": "receives_collection",
          "label": "Specific Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bundle",
      "settings": {
        "discount_target": "amount",
        "discount_type": "specific_product",
        "container_overflow": true,
        "target_limit": 12,
        "preheading_font": 1,
        "title": "<h1>Bundle up</h1>",
        "title_font": 1,
        "subtitle": "<h2>Get a Free Product with your Purchase</h2>",
        "subtitle_font": 1,
        "align__horizontal": "items-center text-center",
        "padding_top": "pt-md",
        "padding_bottom": "pb-md"
      },
      "blocks": [
        {
          "type": "free_shipping",
          "settings": {
            "title": "Free Shipping",
            "fs_target": 3900
          }
        },
        {
          "type": "discount_level",
          "settings": {
            "title": "Free Product",
            "target": 6900
          }
        },
        {
          "type": "discount_level",
          "settings": {
            "title": "Final Free Product",
            "target": 29900
          }
        }
      ]
    }
  ]
}
{% endschema %}
