{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign logo = section.settings.logo
  assign logo_height = section.settings.logo_height
  assign floating = section.settings.floating
  assign menu = section.settings.menu
  assign search__show = section.settings.search__show
  assign accounts__show = section.settings.accounts__show
  assign typography_nav_link_font_family = section.settings.typography_nav_link_font_family
  assign typography_nav_link_size_weight_height = section.settings.typography_nav_link_size_weight_height
  assign typography_nav_link_spacing_transform_style = section.settings.typography_nav_link_spacing_transform_style
  assign typography_megamenu_title_font_family = section.settings.typography_megamenu_title_font_family
  assign typography_megamenu_title_size_weight_height = section.settings.typography_megamenu_title_size_weight_height
  assign typography_megamenu_title_spacing_transform_style = section.settings.typography_megamenu_title_spacing_transform_style
  assign typography_megamenu_link_font_family = section.settings.typography_megamenu_link_font_family
  assign typography_megamenu_link_size_weight_height = section.settings.typography_megamenu_link_size_weight_height
  assign typography_megamenu_link_spacing_transform_style = section.settings.typography_megamenu_link_spacing_transform_style
  assign typography_megamenu_image_caption_font_family = section.settings.typography_megamenu_image_caption_font_family
  assign typography_megamenu_image_caption_size_weight_height = section.settings.typography_megamenu_image_caption_size_weight_height
  assign typography_megamenu_image_caption_spacing_transform_style = section.settings.typography_megamenu_image_caption_spacing_transform_style
  assign flat_mobile_menu = section.settings.flat_mobile_menu
  assign force_hamburger_menu = section.settings.force_hamburger_menu
  assign center_logo = section.settings.center_logo
  assign center_logo__desktop = section.settings.center_logo__desktop
  assign height = section.settings.height
  assign position = section.settings.position
  assign button_primary__text = section.settings.button_primary__text
  assign button_primary__url = section.settings.button_primary__url
  assign button_primary__style = section.settings.button_primary__style
  assign show_button_mobile = section.settings.show_button_mobile
  assign sectionID = section.settings.sectionID
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% capture megaMenus %}{% for block in section.blocks %}--{{ block.settings.handle }}--{% endfor %}{% endcapture %}
{% assign logo_height = section.settings.height | times: section.settings.logo_height | divided_by: 100 %}
{% if floating %}
  {% assign floating_classes = "shadow-md" %}
{% endif %}

{% assign topbarSpacingMultiplier = 0 %}
{% if position == 'sticky' %}
  {% assign topbarSpacingMultiplier = 1 %}
{% endif %}


<style>
  :root {
    --header-height: {{ height }}px;
    --header-position: {{ position }};
    --header-logo-height: {{ logo_height }}px;
    --top-bar-spacing-multiplier: {{ topbarSpacingMultiplier }};
    --top-bar-spacing: calc((var(--header-height, 0px) + var(--announcement-height, 0px) + var(--free-shipping-bar-height, 0px)) * var(--top-bar-spacing-multiplier));
  }

  {% if settings.beta_features__show == false %}
  {% render '_font_variables', id: 'nav_link', settings: section.settings, selector: 'nav-link', no_style: true %}
  {% render '_font_variables', id: 'megamenu_title', settings: section.settings, selector: 'megamenu-title', no_style: true %}
  {% render '_font_variables', id: 'megamenu_link', settings: section.settings, selector: 'megamenu-link', no_style: true %}
  {% render '_font_variables', id: 'megamenu_image_caption', settings: section.settings, selector: 'megamenu-image-caption', no_style: true %}
  {% endif %}
</style>


<section id="{{ sectionID }}"
         class="header header--desktop z-50 relative bg-theme-bg {{ floating_classes }} {{ color_scheme }}"
         data-section="header">
  <div class="container flex justify-around items-center w-full h-header">
    {% render 'header.hamburger-menu' %}
    {% render 'header.logo' %}
    {% render 'header.desktop-nav' %}
    {% render 'header.settings' %}
  </div>
  {% render 'header.desktop-nav-dropdown', megaMenus: megaMenus %}
  {% render 'header.megamenu', megaMenus: megaMenus %}

  {% render 'header.mobile-nav', megaMenus: megaMenus %}
</section>




{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "default": "bg-theme-bg text-theme-text color-inherit",
      "options": [
        {
          "value": "bg-theme-bg text-theme-text color-inherit",
          "label": "Inherit from parent/theme"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-1",
          "label": "Color group 1"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-2",
          "label": "Color group 2"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-3",
          "label": "Color group 3"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-4",
          "label": "Color group 4"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-5",
          "label": "Color group 5"
        }
      ],
      "label": "Color scheme"
    },
    {
      "type": "select",
      "id": "logo",
      "default": "branding_logo_dark_on_light",
      "options": [
        {
          "value": "branding_logo_dark_on_light",
          "label": "Dark on light background"
        },
        {
          "value": "branding_logo_light_on_dark",
          "label": "Light on dark background"
        },
        {
          "value": "branding_logo_secondary_dark_on_light",
          "label": "Secondary Logo Dark on light background"
        },
        {
          "value": "branding_logo_secondary_light_on_dark",
          "label": "Secondary Logo Light on dark background"
        },
        {
          "value": "branding_logo_none",
          "label": "Hidden"
        }
      ],
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_height",
      "label": "Logo height",
      "default": 80,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%"
    },
    {
      "type": "checkbox",
      "id": "floating",
      "label": "Floating",
      "default": true
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Icons"
    },
    {
      "type": "checkbox",
      "id": "search__show",
      "label": "Search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "accounts__show",
      "label": "Account",
      "default": true
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "paragraph",
      "content": ".nav-link"
    },
    {
      "type": "text",
      "id": "typography_nav_link_font_family",
      "label": "Font family",
      "default": "inherit"
    },
    {
      "type": "text",
      "id": "typography_nav_link_size_weight_height",
      "label": "size | weight | height | opacity",
      "default": "16px | 400 | 1.4 | 1 "
    },
    {
      "type": "text",
      "id": "typography_nav_link_spacing_transform_style",
      "label": "spacing | transform | style",
      "default": "0 | none | normal"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.empty_char"
    },
    {
      "type": "paragraph",
      "content": ".megamenu-title"
    },
    {
      "type": "text",
      "id": "typography_megamenu_title_font_family",
      "label": "Font family",
      "default": "inherit"
    },
    {
      "type": "text",
      "id": "typography_megamenu_title_size_weight_height",
      "label": "size | weight | height | opacity",
      "default": "16px | 600 | 1.4 | 1 "
    },
    {
      "type": "text",
      "id": "typography_megamenu_title_spacing_transform_style",
      "label": "spacing | transform | style",
      "default": "0 | none | normal"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.empty_char"
    },
    {
      "type": "paragraph",
      "content": ".megamenu-link"
    },
    {
      "type": "text",
      "id": "typography_megamenu_link_font_family",
      "label": "Font family",
      "default": "inherit"
    },
    {
      "type": "text",
      "id": "typography_megamenu_link_size_weight_height",
      "label": "size | weight | height | opacity",
      "default": "14px | 400 | 1.6 | 1 "
    },
    {
      "type": "text",
      "id": "typography_megamenu_link_spacing_transform_style",
      "label": "spacing | transform | style",
      "default": "0 | none | normal"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.empty_char"
    },
    {
      "type": "paragraph",
      "content": ".megamenu-image-caption"
    },
    {
      "type": "text",
      "id": "typography_megamenu_image_caption_font_family",
      "label": "Font family",
      "default": "inherit"
    },
    {
      "type": "text",
      "id": "typography_megamenu_image_caption_size_weight_height",
      "label": "size | weight | height | opacity",
      "default": "18px | 600 | 1.3 | 0.7 "
    },
    {
      "type": "text",
      "id": "typography_megamenu_image_caption_spacing_transform_style",
      "label": "spacing | transform | style",
      "default": "0 | none | normal"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.empty_char"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "flat_mobile_menu",
      "label": "Flatten Mobile Menu",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "force_hamburger_menu",
      "label": "Use hamburger menu on desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "center_logo",
      "label": "Center logo with hamburger menu",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "center_logo__desktop",
      "label": "Center logo on desktop",
      "default": false
    },
    {
      "type": "range",
      "id": "height",
      "label": "Height",
      "default": 75,
      "min": 40,
      "max": 200,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "radio",
      "id": "position",
      "label": "Position",
      "default": "sticky",
      "options": [
        {
          "value": "sticky",
          "label": "Sticky"
        },
        {
          "value": "relative",
          "label": "Normal"
        }
      ]
    },
    {
      "type": "header",
      "content": "Primary Button"
    },
    {
      "type": "text",
      "id": "button_primary__text",
      "label": "Text",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "button_primary__url",
      "label": "URL",
      "default": "/"
    },
    {
      "type": "radio",
      "id": "button_primary__style",
      "label": "Style",
      "default": "button-primary",
      "options": [
        {
          "value": "button-primary",
          "label": "Primary"
        },
        {
          "value": "button-primary--outline",
          "label": "Primary Outline"
        },
        {
          "value": "button-secondary",
          "label": "Secondary"
        },
        {
          "value": "button-secondary--outline",
          "label": "Secondary Outline"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_button_mobile",
      "label": "Show button on mobile",
      "default": true
    },
    {
      "type": "text",
      "id": "sectionID",
      "label": "Section ID"
    }
  ],
  "blocks": [
    {
      "name": "Megamenu",
      "type": "megamenu",
      "settings": [
        {
          "type": "text",
          "id": "handle",
          "label": "Menu Handle",
          "info": "While in the theme editor, hover over the menu items in the Header and the handle will appear. This input needs to match the menu item handle where you want the dropdown to show."
        },
        {
          "type": "range",
          "id": "font_scale",
          "min": 50,
          "max": 150,
          "step": 5,
          "unit": "%",
          "label": "Font size scale",
          "default": 100
        },
        {
          "type": "radio",
          "id": "rows",
          "label": "Rows",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            }
          ]
        },
        {
          "type": "header",
          "content": "Images"
        },
        {
          "type": "checkbox",
          "id": "show_images",
          "label": "Show images",
          "default": true
        },
        {
          "type": "color_background",
          "id": "image__overlay",
          "label": "Overlay",
          "default": "linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25) 100%)"
        },
        {
          "type": "checkbox",
          "id": "show_caption",
          "label": "Show Caption",
          "default": true,
          "info": "Default to `title`. Create a text metafield within the Collection, Product or Blog post named: `theme.megamenu_caption` to override."
        },
        {
          "type": "color",
          "id": "image_caption_color",
          "label": "Caption color",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Override Images"
        },
        {
          "type": "paragraph",
          "content": "You can override up to 5 images by specifying the dropdown menu handle and adding an image"
        },
        {
          "type": "text",
          "id": "override_1_handle",
          "label": "Handle 1"
        },
        {
          "type": "image_picker",
          "id": "override_1_image",
          "label": "Image 1"
        },
        {
          "type": "text",
          "id": "override_2_handle",
          "label": "Handle 2"
        },
        {
          "type": "image_picker",
          "id": "override_2_image",
          "label": "Image 2"
        },
        {
          "type": "text",
          "id": "override_3_handle",
          "label": "Handle 3"
        },
        {
          "type": "image_picker",
          "id": "override_3_image",
          "label": "Image 3"
        },
        {
          "type": "text",
          "id": "override_4_handle",
          "label": "Handle 4"
        },
        {
          "type": "image_picker",
          "id": "override_4_image",
          "label": "Image 4"
        },
        {
          "type": "text",
          "id": "override_5_handle",
          "label": "Handle 5"
        },
        {
          "type": "image_picker",
          "id": "override_5_image",
          "label": "Image 5"
        }
      ]
    }
  ]
}
{% endschema %}
