{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign image__show = section.settings.image__show
  assign image__overlay = section.settings.image__overlay
  assign height_desktop = section.settings.height_desktop
  assign height_mobile = section.settings.height_mobile
  assign align__vertical = section.settings.align__vertical
  assign align__horizontal = section.settings.align__horizontal
  assign section_layout = section.settings.section_layout
  assign responsive_visibility = section.settings.responsive_visibility
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign color_scheme = section.settings.color_scheme
  assign sectionID = section.settings.sectionID
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% liquid
  assign align_content = align__vertical | append: ' ' | append: align__horizontal
%}

<div id="{{ sectionID }}"
     class="collection-banner {{ section_layout }} {{ color_scheme }} {{ padding_top }} {{ padding_bottom }} {{ responsive_visibility }}"
     style="--collection-banner-height--desktop: {{ height_desktop }}px;--collection-banner-height--mobile: {{ height_mobile }}px;">
  <div class="relative grid min-h-[var(--collection-banner-height--mobile)] md:min-h-[var(--collection-banner-height--desktop)]">
    {% if image__show %}
      <picture class="absolute w-full h-full inset-0">
        {% render '_image', image: collection.featured_image, class: "w-full h-full object-cover", sizes: "100vw", preload: true %}
        <div class="absolute w-full h-full inset-0"
             style="background: {{ image__overlay }}"></div>
      </picture>
    {% endif %}

    <main class="container w-full h-full py-8 relative z-10">
      <div class="flex flex-col h-full {{ align_content }}">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
              {% render 'main-collection-banner.title', block: block %}
            {% when 'description' %}
              {% render 'main-collection-banner.description', block: block %}
            {% when 'product_count' %}
              {% render 'main-collection-banner.product_count', block: block %}
          {% endcase %}
        {% endfor %}
      </div>
    </main>
  </div>
</div>



{% schema %}
{
  "name": "Collection banner",
  "class": "relative",
  "enabled_on": {
    "templates": [
      "collection"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "Add a description or image by editing your collection. [Learn more](https://help.shopify.com/manual/products/collections/collection-layout)"
    },
    {
      "type": "checkbox",
      "id": "image__show",
      "default": false,
      "label": "Show collection image",
      "info": "For best results, use an image with a 16:9 aspect ratio. [Learn more](https://help.shopify.com/manual/shopify-admin/productivity-tools/image-editor#understanding-image-aspect-ratio)"
    },
    {
      "type": "color_background",
      "id": "image__overlay",
      "label": "Overlay",
      "default": "linear-gradient(180deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.05) 100%)"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "height_desktop",
      "label": "Desktop min height",
      "default": 400,
      "min": 180,
      "max": 900,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "height_mobile",
      "label": "Mobile min height",
      "default": 240,
      "min": 180,
      "max": 900,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "radio",
      "id": "align__vertical",
      "label": "Vertical Alignment",
      "default": "justify-center",
      "options": [
        {
          "value": "justify-start",
          "label": "Top"
        },
        {
          "value": "justify-center",
          "label": "Center"
        },
        {
          "value": "justify-end",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "radio",
      "id": "align__horizontal",
      "label": "Horizontal Alignment",
      "default": "items-center text-center",
      "options": [
        {
          "value": "items-start text-left",
          "label": "Left"
        },
        {
          "value": "items-center text-center",
          "label": "Center"
        },
        {
          "value": "items-end text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "radio",
      "id": "section_layout",
      "label": "Section Layout",
      "default": "container-bg-full",
      "options": [
        {
          "value": "container-bg-full",
          "label": "Container"
        },
        {
          "value": "fullwidth",
          "label": "Fullwidth"
        }
      ]
    },
    {
      "type": "radio",
      "id": "responsive_visibility",
      "label": "Responsive Visibility",
      "default": "responsive",
      "options": [
        {
          "value": "responsive",
          "label": "Mobile & Desktop"
        },
        {
          "value": "md:hidden",
          "label": "Mobile only"
        },
        {
          "value": "max-md:hidden",
          "label": "Desktop only"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding_top",
      "default": "pt-0",
      "options": [
        {
          "value": "pt-0",
          "label": "None"
        },
        {
          "value": "pt-sm",
          "label": "Small"
        },
        {
          "value": "pt-md",
          "label": "Medium"
        },
        {
          "value": "pt-lg",
          "label": "Large"
        }
      ],
      "label": "Top Padding"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "default": "pb-0",
      "options": [
        {
          "value": "pb-0",
          "label": "None"
        },
        {
          "value": "pb-sm",
          "label": "Small"
        },
        {
          "value": "pb-md",
          "label": "Medium"
        },
        {
          "value": "pb-lg",
          "label": "Large"
        }
      ],
      "label": "Bottom Padding"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "default": "bg-theme-bg text-theme-text color-inherit",
      "options": [
        {
          "value": "bg-theme-bg text-theme-text color-inherit",
          "label": "Inherit from parent/theme"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-1",
          "label": "Color group 1"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-2",
          "label": "Color group 2"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-3",
          "label": "Color group 3"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-4",
          "label": "Color group 4"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-5",
          "label": "Color group 5"
        }
      ],
      "label": "Color scheme"
    },
    {
      "type": "text",
      "id": "sectionID",
      "label": "Section ID"
    }
  ],
  "blocks": [
    {
      "name": "Title",
      "type": "title",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title",
          "info": "Use [title] as placeholder.",
          "default": "<p>[title]</p>"
        },
        {
          "type": "range",
          "id": "title_font",
          "label": "Title Font",
          "default": 1,
          "min": 1,
          "max": 3,
          "step": 1,
          "info": "Typography Groups 1 - 3"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "label": "Margin Bottom",
          "default": 0,
          "min": -12,
          "max": 128,
          "step": 2,
          "unit": "px"
        },
        {
          "type": "select",
          "id": "section_max_width",
          "label": "Content Max Width",
          "default": "max-w-2xl",
          "options": [
            {
              "value": "max-w-full",
              "label": "Fullwidth"
            },
            {
              "value": "max-w-[var(--layout-page-width)]",
              "label": "Container"
            },
            {
              "value": "max-w-6xl",
              "label": "6xl"
            },
            {
              "value": "max-w-5xl",
              "label": "5xl"
            },
            {
              "value": "max-w-4xl",
              "label": "4xl"
            },
            {
              "value": "max-w-3xl",
              "label": "3xl"
            },
            {
              "value": "max-w-2xl",
              "label": "2xl"
            },
            {
              "value": "max-w-xl",
              "label": "xl"
            },
            {
              "value": "max-w-lg",
              "label": "lg"
            },
            {
              "value": "max-w-md",
              "label": "md"
            },
            {
              "value": "max-w-sm",
              "label": "sm"
            },
            {
              "value": "max-w-xs",
              "label": "xs"
            }
          ]
        },
        {
          "type": "radio",
          "id": "responsive_visibility",
          "label": "Responsive Visibility",
          "default": "responsive",
          "options": [
            {
              "value": "responsive",
              "label": "Mobile & Desktop"
            },
            {
              "value": "md:hidden",
              "label": "Mobile only"
            },
            {
              "value": "max-md:hidden",
              "label": "Desktop only"
            }
          ]
        }
      ]
    },
    {
      "name": "Description",
      "type": "description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title",
          "info": "Use [description] as placeholder.",
          "default": "<p>[description]</p>"
        },
        {
          "type": "range",
          "id": "title_font",
          "label": "Description Font",
          "default": 1,
          "min": 1,
          "max": 3,
          "step": 1,
          "info": "Typography Groups 1 - 3"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "label": "Margin Bottom",
          "default": 0,
          "min": -12,
          "max": 128,
          "step": 2,
          "unit": "px"
        },
        {
          "type": "select",
          "id": "section_max_width",
          "label": "Content Max Width",
          "default": "max-w-2xl",
          "options": [
            {
              "value": "max-w-full",
              "label": "Fullwidth"
            },
            {
              "value": "max-w-[var(--layout-page-width)]",
              "label": "Container"
            },
            {
              "value": "max-w-6xl",
              "label": "6xl"
            },
            {
              "value": "max-w-5xl",
              "label": "5xl"
            },
            {
              "value": "max-w-4xl",
              "label": "4xl"
            },
            {
              "value": "max-w-3xl",
              "label": "3xl"
            },
            {
              "value": "max-w-2xl",
              "label": "2xl"
            },
            {
              "value": "max-w-xl",
              "label": "xl"
            },
            {
              "value": "max-w-lg",
              "label": "lg"
            },
            {
              "value": "max-w-md",
              "label": "md"
            },
            {
              "value": "max-w-sm",
              "label": "sm"
            },
            {
              "value": "max-w-xs",
              "label": "xs"
            }
          ]
        },
        {
          "type": "radio",
          "id": "responsive_visibility",
          "label": "Responsive Visibility",
          "default": "responsive",
          "options": [
            {
              "value": "responsive",
              "label": "Mobile & Desktop"
            },
            {
              "value": "md:hidden",
              "label": "Mobile only"
            },
            {
              "value": "max-md:hidden",
              "label": "Desktop only"
            }
          ]
        }
      ]
    },
    {
      "name": "Product Count",
      "type": "product_count",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "Title",
          "info": "Use [count] as placeholder.",
          "default": "<p>Products ([count])</p>"
        },
        {
          "type": "range",
          "id": "title_font",
          "label": "Count Font",
          "default": 1,
          "min": 1,
          "max": 3,
          "step": 1,
          "info": "Typography Groups 1 - 3"
        },
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "range",
          "id": "margin_bottom",
          "label": "Margin Bottom",
          "default": 0,
          "min": -12,
          "max": 128,
          "step": 2,
          "unit": "px"
        },
        {
          "type": "select",
          "id": "section_max_width",
          "label": "Content Max Width",
          "default": "max-w-2xl",
          "options": [
            {
              "value": "max-w-full",
              "label": "Fullwidth"
            },
            {
              "value": "max-w-[var(--layout-page-width)]",
              "label": "Container"
            },
            {
              "value": "max-w-6xl",
              "label": "6xl"
            },
            {
              "value": "max-w-5xl",
              "label": "5xl"
            },
            {
              "value": "max-w-4xl",
              "label": "4xl"
            },
            {
              "value": "max-w-3xl",
              "label": "3xl"
            },
            {
              "value": "max-w-2xl",
              "label": "2xl"
            },
            {
              "value": "max-w-xl",
              "label": "xl"
            },
            {
              "value": "max-w-lg",
              "label": "lg"
            },
            {
              "value": "max-w-md",
              "label": "md"
            },
            {
              "value": "max-w-sm",
              "label": "sm"
            },
            {
              "value": "max-w-xs",
              "label": "xs"
            }
          ]
        },
        {
          "type": "radio",
          "id": "responsive_visibility",
          "label": "Responsive Visibility",
          "default": "responsive",
          "options": [
            {
              "value": "responsive",
              "label": "Mobile & Desktop"
            },
            {
              "value": "md:hidden",
              "label": "Mobile only"
            },
            {
              "value": "max-md:hidden",
              "label": "Desktop only"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Banner"
    }
  ]
}
{% endschema %}
